.card-depoimento {
  max-width: 300px;
  height: 200px;
  margin-bottom: 8px;
  flex-direction: row;
  background-color: #FEF7FF;
}

.mat-mdc-card-title-group{
  justify-content: start;
}

img{
  max-width: 50px;
  max-height: 70px;
}

