<app-banner
  src = 'assets/imagens/banner-homepage.png'
  alt="banner da aplicacao"
></app-banner>
<app-container>
  <h2>Promoções</h2>
  <app-form-busca></app-form-busca>
  <div class="card-wrapper">
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
  </div>
  <h2>Depoimentos</h2>
  <div class="card-wrapper-depoimento">
    <app-card-depoimentos nome="Erick" descricao="teste para descricao teste para descricao teste para descricao teste para descricao teste para descricao teste para descricaoteste para descricao" altDepoimento="depoimento erick" imgDepoimento="assets/imagens/avatar3.png"></app-card-depoimentos>
    <app-card-depoimentos nome="Erick" descricao="teste para descricao teste para descricao teste para descricao teste para descricao teste para descricao teste para descricaoteste para descricao" altDepoimento="depoimento erick" imgDepoimento="assets/imagens/avatar3.png"></app-card-depoimentos>
    <app-card-depoimentos nome="Erick" descricao="teste para descricao teste para descricao teste para descricao teste para descricao teste para descricao teste para descricaoteste para descricao" altDepoimento="depoimento erick" imgDepoimento="assets/imagens/avatar3.png"></app-card-depoimentos>
  </div>
</app-container>
<app-banner
  src = 'assets/imagens/banner-homepage-rodape.png'
  alt="banner da aplicacao"
></app-banner>




