<footer class="app-footer">
  <div>
    <img src="/assets/imagens/logo-com-tagline.png" alt="logo da aplicação jornada" height="40px" width="150">
    <p>Horário de atendimento: 08h - 20h (Segunda a sábado)</p>
    <p>Desenvolvido por erick. Projeto fictício sem fins lucrativos.</p>
  </div>
  <div>
    <p>Acesse nossas redes</p>
    <div class="icones">
      <img src="assets/icones/whatsapp.png" alt="" srcset="">
      <img src="assets/icones/instagram.png" alt="" srcset="">
      <img src="assets/icones/twitter.png" alt="" srcset="">
    </div>
  </div>
</footer>
