.app-footer{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  height: 170px;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;

  .icones{
    display: flex;
    justify-content: space-around;
  }
}
